# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# 🔐 Sensitive files and secrets
ctenopool-firebase-adminsdk-fbsvc-fbf85008c1.json
southern-matter-476413-c8-ccf2c9f722f9.json
